apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: exercises
  name: log-output-claim # name of the volume claim, this will be used in the deployment
spec:
  storageClassName: log-output-pv # this is the name of the persistent volume we are claiming
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi