apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: shared-todo-volume
          persistentVolumeClaim:
            claimName: todo-volume-claim
      containers:
        - name: todo-app
          image: ipegii/the_project-todo-app:2.2.3
          imagePullPolicy: Always
          volumeMounts: # Mount volume
          - name: shared-todo-volume
            mountPath: /usr/src/app/files
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
            containers:
        - name: todo-backend
          image: ipegii/the_project-todo-backend:2.2.3
          imagePullPolicy: Always
          volumeMounts: # Mount volume
          - name: shared-todo-volume
            mountPath: /usr/src/app/files
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"