apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: todo-app-claim # name of the volume claim, this will be used in the deployment
spec:
  storageClassName: todo-app-pv-class # this is the name of the persistent volume we are claiming
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi